.main-container-def {
  width: 80vw;
  height: 100vh;
  margin-left: 20vw;
  
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  /* padding-right: 0.5vw;  */
}
@media (max-width: 768px) {
  .main-container-def {
    padding-left: 0;
    padding-right: 0;
  }
}
.box-container-def {
  padding: 40px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background: #fff;

  /* จัดกล่องตรงกลาง column */
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  
  /* Responsive width */
  max-width: 900px;
  width: 100%;
  margin: 0 10px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
  min-height: 80%;
}
.search-box-def {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 60%;
    box-sizing: border-box;
    padding: 5px;
}

.search-input-def {
    all: unset;
    width: 100%;
    padding: 5px;
    border-radius: 6px;
    font-size: 14px;
}
.size-6{
    height: 2rem;
    color: #b4b4b4;
    padding-right: 5px;
}
.search-box-def {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 60%;
    box-sizing: border-box;
    padding: 5px;
}

