.main-container-def {
  width: 80vw;
  height: 100vh;
  margin-left: 20vw;
  
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  /* padding-right: 0.5vw;  */
}
@media (max-width: 768px) {
  .main-container-def {
    padding-left: 0;
    padding-right: 0;
  }
}
.box-container-def {
  /* padding: 10px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background: #fff; */

  /* จัดกล่องตรงกลาง column */
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  
  /* Responsive width */
  
  width: 90%;
  margin: 0 10px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
  min-height: 80%;
}
.search-box-def {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 60%;
    box-sizing: border-box;
    padding: 5px;
}

.search-input-def {
    all: unset;
    width: 100%;
    padding: 5px;
    border-radius: 6px;
    font-size: 14px;
}
.size-6{
    height: 2rem;
    color: #b4b4b4;
    padding-right: 5px;
}
.search-box-def {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 60%;
    box-sizing: border-box;
    padding: 5px;
}

.filter-box-def {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;           /* ระยะห่างระหว่าง items */
  margin-top: 16px;    /* เว้นจากด้านบน */
  align-items: center;
}
.filter-box-def button {
  padding: 6px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.2s;
}
.filter-item{
  
  padding: 6px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.2s;
}
.filter-box-def label{
  font-size: 14px;
  color: #000000;
  margin-right: 8px;
}

.filter-box-def select:focus,
.filter-box-def button:focus {
  outline: none;
  border-color: #4d90fe;
}

.filter-box-def button {
  background-color: #4d90fe;
  color: black;
  border: none;
}

.filter-box-def button:hover {
  background-color: #357ae8;
}
.filter-item select {
  border: none;
  background: transparent;
  font-size: 14px;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 4px 8px;
}
