/* html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;  
}

#root {
  overflow-x: hidden;
}


.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0; 
    padding: 0 10px; 
    box-sizing: border-box; 
    width: 100%;
    
    
}

.card {
    padding: 10px 30px 10px 30px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0,0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.card h3 {
    font-weight: 500;
    margin-right: 20px;
    font-size: 18px;
    color: var(--secondary-color);
}

.card h1 {
    text-align: center;
    font-weight: 400;
    font-size: 40px;

}
.card h1 span {
    font-weight: 300;
    font-size: 20px;
    margin: 5px;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.card-header-graph {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    min-width: 300px; 
  
}

.card-header h3 {
    margin-right: 40px;

}

.visitor-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
  
.visitor-info .icon {
    font-size: 1.6rem;
    color: var(--primary-color);
}


@keyframes glow {
    0%, 100% { box-shadow: 0 0 6px 3px rgba(58, 215, 124, 0.5); }
    50% { box-shadow: 0 0 10px 5px rgba(58, 215, 124, 0.7); }
}



.filter-month {
    text-align: end;
}

.graph {
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000;
  max-width: 100%;
  overflow-x: hidden;
  pointer-events: none; 
}


.post-it {
    background-color: var(--secondary-color);
    height: 40px;
    margin-right: 20px;
    border-radius: 20px 20px 0 0;
    display: flex;
    padding: 10px 10px;
}

.updated-text {
    color: var(--secondary-color);
    text-align: center;
    margin: auto;
    padding: 5px;
    color: white;
}


@media (max-width: 768px) {
    .dashboard-header {
        align-items: start;
    }
    
    .dashboard-header h1{
       font-size: 35px;
    }
    
    .dashboard-header h1 span{
        font-size: 30px;
     }
  
    .card {
        padding: 15px;
        width: 100%;
        border-radius: 20px;
    }
    .card h3 {
        font-size: 3.5vw;
    }
    
    .card h1 {
        font-size: 5.5vw;
    
    }
    .card h1 span {
        font-size: 4vw;
    }

    .graph {
        height: 22vh;
    }

  
    .history-timeline {
        display: flex;
        justify-content: center;
        margin-right: 10px;
    }

    .user-chart {
        width: 200;
        height: 200;

    }
    
    .updated-text {
        font-size: 12px;
    }

  
  }

 */
