.main-container {
    width: 80vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    }

@media (max-width: 768px) {
    .main-container {
        padding-left: 0;
        padding-right: 0;
    }
    }

.box-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    width: 90%;
    margin: 0 10px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
    min-height: 80%;
    }
@media (max-width: 768px) {
    .box-container {
        margin: 30px;
        margin-top: 50px;
        flex-direction: column;
    }
}

/*Profile มุมขวาบน*/
.profile-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    }

.profile-pic button{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #D7D7D7;
    cursor: pointer;
    }

.profile-pic img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    }
.profile-top {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.profile-top p {
    margin-right: 20px;
}

/* ตาราง */
th {
      background-color: #f0f2fa;
      color: #00209F;
      font-weight: 600;
      font-size: 14px;
    }
td {
      font-size: 14px;
      color: #333;
      border-top: 1px solid #eee;
    }
.table {
    margin-top: 20px;
    overflow: hidden;
}

.table th, .table td {
   border-bottom: 1px solid #ddd;
   padding: 20px 0px 20px 0px;
   text-align: center;
   font-weight: 300;
}
.table th {
    font-size: small;
    color: var(--primary-color);
 }
.table td {
    font-size: small;
    color: #939393;
 }

.search-box {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 50%;
    box-sizing: border-box;
    padding: 5px;
 }

/* logo */
.size-6{
    height: 2rem;
    color: #b4b4b4;
    padding-right: 5px;
 }
/* input search bar */
.search-input {
    all: unset;
    width: 100%;
    padding: 5px;
    border-radius: 6px;
    font-size: 14px;
 }
/* filter box all */
.filter-box {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
}
/* วิธีสั้นสุด */
.filter-box button:not(.add-user-btn) {
  padding: 6px 12px;
  font-size: 14px;
  border: 1px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  transition: border-color .2s;
}

.filter-item{
    
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    cursor: pointer;
    transition: border-color 0.2s;
    position: relative;
    display: inline-block;   
    padding: 0;       
    justify-content: space-between;       
           
}
.filter-item select {
    border: none;
    background: transparent;
    font-size: 14px;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 4px 8px;
}
.filter-box label{
    font-size: 14px;
    color: #000000;
    margin-right: 8px;
}

.filter-box select:focus,
.filter-box button:focus {
    outline: none;
    border-color: #4d90fe;
}
