.edit-user-wrapper {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.box-container {
  background: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.edit-form {
  width: 100%;
  max-width: 900px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  flex: 1;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.required {
  color: red;
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.btn {
  width: 150px;
  padding: 10px 0;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  text-align: center;
}

.btn-save {
  background-color: #00cc66;
}

.btn-cancel {
  background-color: #ff4d4d;
}

@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }

  .btn {
    width: 100%;
  }
}

label {
  color: #002f6c; /* น้ำเงินเข้ม */
  font-weight: 500;
}

