.permission-control {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.search-container {
    border: 1px solid #C6C6C6;
    width: 30vw;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    color: #C6C6C6;
}


.search-container input{
    border: none;
    outline: none;
    width: 100%;
}

.add-admin-button-container {
  border-radius: 10px;
  color: #C6C6C6;
}

.add-admin-button {
  border: 1px solid #C6C6C6;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  background-color: var(--primary-color);
}

.table {
    margin-top: 20px;
    overflow: hidden;
}

.table th, .table td {
   border-bottom: 1px solid #ddd;
   padding: 20px 0px 20px 0px;
   text-align: center;
   font-weight: 300;
}
.table th {
    font-size: small;
    color: var(--primary-color);
 }
.table td {
    font-size: small;
    color: #939393;
 }

 .button-switch {
    width: 50px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    background-color: #C6C6C6;
    margin: auto;
    display: flex;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: justify-content 0.3s ease;
 }

 .button-switch.active {
    justify-content: flex-start;
  }
  
  .button-switch.inactive {
    justify-content: flex-end;
  }

  .edit-button {
    border: none;
    background-color: transparent;
    color: #999999;
  }
  


 .status-toggle {
    border: none;
    border-radius: 20px;
    padding: 6px 10px;
    cursor: pointer;
    color: white;
    font-size: 8px;
    transition: background-color 0.3s ease;
  }
  
  .status-toggle.active {
    background-color:var(--green-color);
    
  }
  
  .status-toggle.inactive {
    background-color:var(--red-color);
  }



/* ------Popup Confirm password------- */

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-box {
    background: #fff;
    padding: 30px 20px;
    border-radius: 10px;
    width: 350px;
    max-width: 90%;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    text-align: center;
  }
  
  .modal-box h3 {
    margin-bottom: 10px;
  }
  
  .modal-box input {
    width: 80%;
    padding: 8px;
    margin: 12px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .modal-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
  }
  
  .modal-actions button {
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    border: none;
  }
  
  .modal-actions button:first-child {
    background-color: transparent;
    text-decoration: underline;
    padding: 8px 30px;
  }
  
  .modal-actions button:last-child {
    background-color: var(--green-color);
    color: white;
    padding: 8px 30px;
  }

  /* ------Popup create user------- */
  .modal-box-user {
    background: #fff;
    padding: 30px 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .modal-box-user h3 {
    margin: 10px;
  }

  .user-input .input-file {
    width: 150px;
    border: none;
  }

  .user-input input ,.user-input select{
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }


  .user-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    font-size: 12px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .user-input label {
    align-self: flex-start;
    font-size: 12px;
  }


  /* ------popup edit user----- */
  
  .profile-picture-edit {
    position: relative;
    width: 150px;
    height: 150px;
    margin: auto;
  }
  .edit-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--primary-color);
    color: white;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 14px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
  }
  
  .edit-icon:hover {
    background-color: var(--secondary-color);
  }
  

  .delete-user-button {
    background-color: var(--red-color);
    color: white;
    padding: 8px 20px;
  }
  


 /*-------- for video page -----------*/

 .search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.date-filter {
    padding: 10px;
}

.date-filter input {
    padding: 7px;
    color: #939393;
    border: 1px solid #C6C6C6;
    border-radius: 10px;
}



@media (max-width: 768px) {
    .search-container {
        width: 50vw;
    }
}

