/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
--primary-color: #1A2DAC;
--secondary-color: #0B1246;
--background-gradient: linear-gradient(180deg, #1A2DAC, #0B1246);
--green-color: #36D277;
--red-color: #f65757;
--input-color: #F1F3FF;
--ligthblue-color: #4DB1D6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    
}

.topic {
    display: flex;
    justify-content: center;
}

.password-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.password-container span{
    position: absolute;
    color: #a9a9a9;
    right: 0;
    margin-right: 20px;
    font-size: 20px;
}

.password-container button {
    width: 10px;
    height: 5px;
    font-size: 5px;
}
 */
