@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
--primary-color: #1A2DAC;
--secondary-color: #0B1246;
--background-gradient: linear-gradient(180deg, #1A2DAC, #0B1246);
--green-color: #36D277;
--red-color: #f65757;
--input-color: #F1F3FF;
--ligthblue-color: #4DB1D6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    
}


.container {
    width: 100%;
    height: 100vh;
}

.login-page {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
    overflow: hidden;

}

.login-logo {
    min-width: 50vw;
    text-align: center;
}

.login-logo img {
    width: 60%;
    text-align: center;
}

.login-background {
    min-width: 50vw;
    height: 100%;
    border-radius: 60px 0px 0px 60px;
    background: var(--background-gradient);
    display: flex;
    justify-content: center;
}

.login-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 20px;
}


.login-form {
    min-width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.login-input input {
    width: 100%;
    border: none;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--input-color);
    font-size: medium;
}

.login-input button {
    width: 100%;
    border: none;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--ligthblue-color);
    font-size: large;
    font-weight: 600;
    color: white;
}

.topic {
    display: flex;
    justify-content: center;
}

.password-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.password-container span{
    position: absolute;
    color: #a9a9a9;
    right: 0;
    margin-right: 20px;
    font-size: 20px;
}

.password-container button {
    width: 10px;
    height: 5px;
    font-size: 5px;
}





/* -------navbar-------- */


.navbar-box {
    width: 21vw;
    height: 100vh;
    background: var(--background-gradient);
    border-radius: 0px 40px 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed; 
}

.navbar {
    display: flex;
    flex-direction: column;
    padding: 30px 0px 30px 0px;
    gap: 60px;
    color: white;
    overflow: hidden;
}

.navbar-logo {
    text-align: center;
    margin: -10px 0px -40px 0px;
}

.logo-img {
    width: 100px;
    height: 100px;
}

.menu li{
    list-style-type: none;
}

.main-menu {
    padding: 15px 110px 15px 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    position: relative;
}


.menu a{
    width: 100%;
    margin-left: 10px;
    color: white;
    font-weight: 200;
    text-decoration: none;
    display: flex;
    gap: 10px;
    transition: all ease 0.5s;
}

.logout {
    list-style-type: none;
    text-align: center;
    margin: 50px;
    
}
.logout a{
    color: white;
    font-weight: 200;
    text-decoration: none;
    
}


.main-menu.active{
    background-color: white;
    border-radius: 30px 0px 0px 30px;
}


.main-menu.active:hover {
    background-color: white;
}
.main-menu.active:hover a{
    text-decoration: none;
}

.main-menu.active a{
    color: #0B1246;
}


.main-menu:hover a{
    /* text-decoration: underline; */
    font-size: medium;
    font-weight: 500;
    margin-left: 30px;
    
}

.logout:hover a{
    text-decoration: underline;
    
}

@media screen and (max-width: 768px) {
    .menu-label {
      display: none;
    }

    .main-menu {
        padding: 15px 0px 15px 10px;
        margin-left: 10px;
    }

    .icon {
        font-size: 20px;
    }
    .navbar {
        padding-top: 90px;
    }
    .logout {
        margin: 0;
        margin-bottom: 30px;
    }

    
    .navbar-logo img{
        width: 60px;
        height: 60px;
        margin: 30px 0px 30px 0px;
    }

  }




/*--------Navbar curve outside---------*/

/* .main-menu:hover::before, */
.main-menu.active::before {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 35px 35px 0 10px white;
}

/* .main-menu:hover::after, */
.main-menu.active::after {
    content: '';
    position: absolute;
    right: 0;
    bottom:-50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 35px -35px 0 10px white;
}





/* --------main_layout-------- */

.main-layout {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}


.main-container {
    width: 79vw;
    height: 100%;
    overflow: hidden;
    margin-left:21vw;
}

@media (max-width: 768px) {
    .main-container {
        margin-left:18vw;
    }
}